body {
    text-align: center;
    background-color: #011F3F;
  }

  .level {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin:  5%;
    color: #FEF2BF;
  }

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.pieces{
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(2, 200px);
    gap: 80px;
}

  .card {
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
  }

  .card:hover {
    cursor: pointer;
  }

  .green {
    background-color: green;
  }

  .red {
    background-color: red;
  }

  .yellow {
    background-color: yellow;
  }

  .blue {
    background-color: blue;
  }

  .pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }
  